* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	display: grid;
	min-height: 100vh;
}
img {
	max-width: 50%;
	max-height: 50%;
	display: grid;
}

.curso_imagen{
	max-width: 400px;
	max-height: 400px;
	overflow: hidden;
	cursor: pointer;
}

.saber_mas{
	width: 400px;
	height: 400px;
	background: rgba(0,0, 0, 0.7);
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	color:#ffffff;
	opacity: 0;
}

.contenedor .contenido .curso_imagen:hover .saber_mas{
	filter: blur(2px);
	filter: contrast(150%);
	filter: brightness(.5);
	opacity: 1;
}

p.texto_curso{
	position: absolute;
	left: 30%;
	top: 50%;
	font-size: 20px;
}

table.tabla{
	height: 10%;
	width: 50%;
	background: #DECBA4;
	font-family: 'Roboto', sans-serif;
	color: #000;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
}

th.principales{
	background:rgb(189, 165, 117);
}

img.alinear_texto_centro{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

p.alinear_con_imagen{
	display: inline-block;
	position: absolute;
	left: 70px;
	color: #3E5151;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 125%;
}

.contenedor {
	width: 100%;
	margin-right: auto;
    margin-left: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.nav{
	max-width: 100%;
	background: transparent;
	border-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav_menu{
	display: flex;
	text-align: center;
	align-items: center;
	list-style: none;
}

.nav_item{
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	align-items: center;
}

.nav_link{
	color: #fff;
	text-decoration: none;
}
.nav_item:hover{
	background: #bdc3c7;
	border-color: transparent;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	border-radius: 20%;
}
.contenedor .header {
	background: #3E5151;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #3E5151;
	border-radius: 0%;
	padding: 1%;
	display: grid;
	text-align: left;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	grid-area: header;
}

.contenedor .contenido {
	margin-right: 14%;
	margin-left: 14%;
	padding: 5%;
	background: #eef3f4;
	color: #fff;
	align-items: center;
	justify-content: center;
	grid-area: contenido;
}

.contenedor .footer {
	background: #3E5151;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #fff;
	padding: 1%;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-area: footer;
}

h3.under {
    text-decoration: underline;
}

.nav_toggle{
	color: white;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
	display: none;
}

ul.lista_astro{
	list-style-image: url(lista_icono.png);
	list-style-position: inside;
}

.box{
	background: #8a9c8a;
	background-repeat: no-repeat;
  	background-position: 120px 1em;
	padding: 25px;
	margin-bottom: 15px;
	border: 2px solid #bdc3c7;
	border-radius: 22px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.2);
	align-items: center;
	align-content: center;
	text-align-last: center;

}

@media screen and (max-width: 480px) {

	.contenedor .footer{
		padding: 5%;
	}
	.contenedor .contenido{
		margin-right: 5%;
		margin-left: 5%;
	}
	.nav_menu {
		background: #3E5151;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px;
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}

	.nav_item {
		line-height: 70px;
	}

	.nav_link:hover{
		background: none;
		color:#fff;
	}

	.nav_toggle {
		display: block;
	}

	.nav_menu_visible {
		left: 0;
	}

	.nav_toggle:focus:not(:focus-visible) {
		outline: none;
	}
  }

@media screen and (min-width: 480px) and (max-width: 960px) {

	.contenedor .contenido{
		margin-right: 10%;
		margin-left: 10%;
	}
	.nav_menu {
		background: #3E5151;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px;
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}

	.nav_item {
		line-height: 70px;
	}

	.nav_link:hover{
		background: none;
		color:#fff;
	}

	.nav_toggle {
		display: block;
	}

	.nav_menu_visible {
		left: 0;
	}

	.nav_toggle:focus:not(:focus-visible) {
		outline: none;
	}
  }
