.contenedor{
  
    display: grid;
   
    grid-template-columns: 3fr 9fr;
 
    grid-template-rows: 2fr 8fr 2fr;    
    column-gap: 1px; 
    row-gap: 1px;

}

.box{
    background-color: #d6ddd8;
    padding: 10px;
    color: #557571;
    text-align: center;
}

.box.box2{

    grid-template-columns: repeat(2, 3fr); 

}

.box.box5{
    grid-column: 1/span 2; 
    background-color:#557571;
    color: #ffffff;
}

.box.box2 > button.boton{
    background-color:#557571;
    color: #ffffff;
}
