* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	display: grid;
	min-height: 100vh;
}

.contenedor {
	display: grid;
	width: 100%;
	align-items: center;
	justify-content: center;
	grid-template-areas: "header header"
						 "contenido contenido"
						 "footer footer";
}

.contenedor .header {
	background: #3E5151;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #3E5151;
	border-radius: 0%;
	padding: 1%;
	text-align: left;
	align-items: center;
	justify-content: center;
	grid-area: header;
}

.contenedor .contenido {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	max-width: 100%;
	max-height: 100%;
	background: #8a9c8a;
	color: #fff;
	align-items: center;
	justify-content: center;
    grid-area: contenido;
}

.Imagen{
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

.Imagen img{
	width: 100%;
	height: 100%;
	transition: .7s;
}

.contenedor .contenido .Imagen:hover img{
	filter: blur(2px);
	filter: contrast(150%);
	filter: brightness(.5);
	opacity: .7;
}

.contenedor .footer {
	background: #3E5151;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #fff;
	padding: 1%;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-area: footer;
}

h3.under {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
	.contenedor .header{
		font-size: 10px;
	}
	.contenedor .contenido {
		display: grid;
		grid-template-columns: 1fr;
	}
	.contenedor .footer{
		font-size: 10px;
	}
}

