* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #ffffff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	display: grid;
	min-height: 100vh;
}
img {
	max-width: 100%;
	max-height: 100%;
	display: grid;
	
}

img:hover{
    filter: saturate(180%);
}

.nav{
	max-width: 100%;
	background: transparent;
	border-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav_menu{
	display: flex;
	text-align: center;
	align-items: center;
	list-style: none;
}

.nav_item{
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	align-items: center;
}

.nav_link{
	color: #fff;
	text-decoration: none;
}

.nav_item:hover{
	background: #bdc3c7;
	border-color: transparent;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	border-radius: 20%;
}

.nav_toggle{
	color: white;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
	display: none;
}


.contenedor {
	width: 100%;
	margin-right: auto;
    margin-left: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header header" 
						 "contenido contenido contenido contenido" 	
						 "footer footer footer footer";
}
.boton {
	background: transparent;
	border-color: transparent;
	font-size: 16px;
	border-radius: 15%;
	color: #d49a89;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	display: grid;
	align-items: center;
	justify-content: center;
}
.boton:hover {
	background: #bdc3c7;
	border-color: transparent;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	text-decoration: none;
  }

  ul{
	list-style-image: url(estrella.png);
}


.contenedor .header {
	background: #eef3f4;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #3E5151;
	border-radius: 0%;
	padding: 1%;
	display: grid;
	text-align: left;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	grid-area: header;
}

.contenedor .contenido {
	margin-right: 14%;
	margin-left: 14%;
	background: #eef3f4;
	color: #b07a89;
	grid-area: contenido;
	padding: 5%;
}


.contenedor .footer {
	background: #3E5151;
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
	background: linear-gradient(to right, #DECBA4, #3E5151);
	color: #fff;
	padding: 1%;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-area: footer;
}


.contenedor .tuMensaje{
	text-align: center;
}




form{
    background-color: #d6ddd8;
    padding: 20px 30px 30px;
    color:  #b07a89;
    text-align: left;
    width: 40em;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.2);
	
}
fieldset{

    border-color: transparent;
	
}

textarea{
    width: 90%;
	border-radius: 5px;
}

select{
    width: 90.5%;
	border-radius: 5px;
}

input{
    width: 90%;
	border-radius: 5px;
}

h2{
	text-shadow: 0 0 3px #d49a89, 0 0 6px #DECBA4;
	text-align: center;
}

h4{
	text-shadow: 0 0 3px #DECBA4, 0 0 6px #DECBA4;
}


p{
	text-align: justify;
}

.box{
	background-repeat: no-repeat;
  	background-position: 120px 1em;
	padding: 20px;
	margin-bottom: 5px;
	border: 2px solid #bdc3c7;
	border-radius: 22px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.2)

}



@media screen and (max-width: 480px) {

	.contenedor .footer{
		padding: 5%;
	}
	.contenedor .contenido{
		margin-right: 5%;
		margin-left: 5%;
	}
	.nav_menu {
		background: #3E5151;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px;
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}

	.nav_item {
		line-height: 70px;
	}

	.nav_link:hover{
		background: none;
		color:#fff;
	}

	.nav_toggle {
		display: block;
	}

	.nav_menu_visible {
		left: 0;
	}

	.nav_toggle:focus:not(:focus-visible) {
		outline: none;
	}
  }

  
@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header header"
						 "contenido contenido contenido contenido"
						 "footer footer footer footer";
	}
}

@media screen and (min-width: 480px) and (max-width: 960px) {
	
	.contenedor .contenido{
		margin-right: 10%;
		margin-left: 10%;
	}
	.nav_menu {
		background: #3E5151;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px;
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}

	.nav_item {
		line-height: 70px;
	}

	.nav_link:hover{
		background: none;
		color:#fff;
	}

	.nav_toggle {
		display: block;
	}

	.nav_menu_visible {
		left: 0;
	}

	.nav_toggle:focus:not(:focus-visible) {
		outline: none;
	}
  }

.Imagen-home {
	margin: 10px;
}
.Imagen-home img{
	border-radius: 10px;
}

.Imagen-home img:hover{
    transform: scale(0.9);   
    transition: 0.3s;
}

#yoga :hover{
	z-index: 100;
	background: url("./imagenes/yogaHover.png");
}

.redes{
	color: #eef3f4
}

#texto_centro{
	text-align: center;
}

/*Imagenes página nosotras*/
.cristales{
	width:600px ;height:400px;
}

.natalia{

	width:600px; height:400px
}

.judith{

	width:600px; height:400px

}

.uma{
	height:400px; width:600px
}

.valeria{ width:600px ;height:400px

}

#tritech{
	text-align: center;
}

.contact{
	display: grid;

}
/*

.contenedor .mapa {
	margin-right: 12%;
	margin-left: 12%;
	grid-area: contenido;
	padding: 5%;
	align-items: center;
	justify-content: center;
}


.map-responsive{
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-responsive iframe{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}*/